/.vscode
/attendance
/Cabay High School.docx
/cbd1bb37f2a64b1fa9ccafe610b2224f.pdf
/Demo
/guidance
/Idea Pitch.docx
/KASUNDUAN-2025.docx
/library
/ocr
/python
/SAM_Camarines.docx
/Theoretical Framework(Phase 1).docx
/Wendys Attack.pptx